# GEMINI_API_KEY: Required for Gemini AI API calls.
GEMINI_API_KEY="MY_GEMINI_API_KEY"

# APP_URL: The URL where this applet is hosted.
APP_URL="MY_APP_URL"

# DATABASE_URL: PostgreSQL connection string for Prisma & Docker Compose
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/typingspeed?schema=public"

# JWT_SECRET: Secret key for signing and verifying JSON Web Tokens
JWT_SECRET="typing_speed_challenge_super_secret_jwt_key_2026"

# PORT: Server port
PORT=3000
